EXPO_PUBLIC_API_URL=http://localhost:4000
EXPO_PUBLIC_VISA_DEMO_MODE=false
EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBeP5EFRYgdAf2CEGc7zzYGwPPfuLn0b9g
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=lemontrip-508303.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=lemontrip-508303
EXPO_PUBLIC_FIREBASE_APP_ID=1:242751237489:web:4fd26f7851dcdb17e01ad0
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=242751237489
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-google-web-client-id
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-google-android-client-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-google-ios-client-id